header
{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, .8);
    text-align: right;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em;
    z-index: 1;

    a
    {
        text-decoration: none;
        color: white;
        text-shadow: 0 0 2px white, 0 0 5px white;
        font-family: 'Unica One', cursive;
        font-size: 2em;
        line-height: 1em;

        &:hover {
            color: white;
            text-shadow: none;
        }

        @media only screen and (max-device-width: 480px)
        {
            font-size: 1em;
        }
        @media (max-width: 480px)
        {
            font-size: 1em;
        }
    }

    nav
    {
        margin: 0 1em;

        a
        {
            font-size: 1.5em;
            text-shadow: none;
            padding: 0 .5em;

            &.is-active {
                text-decoration: underline;
            }
        }
    }

    input
    {
        width: 15em;
    }
}
