.pagination {
    margin: 1em auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    li {
        background: $secondary;
        text-align: center;
        padding: .5em;
        width: 2em;
        list-style-type: none;
    }
    a {
        display: block;
        background: black;
        padding: .5em;
        color: white;
        text-decoration: none;

        &:hover {
            background: $primary;
        }
    }
    span {
        padding: .5em;
        display: block;
    }
}
