header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.8);
  text-align: right;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em;
  z-index: 1;
}

header a {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 2px white, 0 0 5px white;
  font-family: 'Unica One', cursive;
  font-size: 2em;
  line-height: 1em;
}

header a:hover {
  color: white;
  text-shadow: none;
}

@media only screen and (max-device-width: 480px) {
  header a {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  header a {
    font-size: 1em;
  }
}

header nav {
  margin: 0 1em;
}

header nav a {
  font-size: 1.5em;
  text-shadow: none;
  padding: 0 .5em;
}

header nav a.is-active {
  text-decoration: underline;
}

header input {
  width: 15em;
}

.poster-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.poster {
  width: 100%;
  position: relative;
}

@media screen and (min-width: 20em) {
  .poster {
    width: 50%;
  }
}

@media screen and (min-width: 40em) {
  .poster {
    width: 33.33%;
  }
}

@media screen and (min-width: 80em) {
  .poster {
    width: 25%;
  }
}

@media screen and (min-width: 100em) {
  .poster {
    width: 20%;
  }
}

.poster__image {
  width: 100%;
}

.poster__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: .5em;
  background-color: rgba(0, 0, 0, 0.5);
}

.pagination {
  margin: 1em auto;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination li {
  background: #3c3c3c;
  text-align: center;
  padding: .5em;
  width: 2em;
  list-style-type: none;
}

.pagination a {
  display: block;
  background: black;
  padding: .5em;
  color: white;
  text-decoration: none;
}

.pagination a:hover {
  background: #262626;
}

.pagination span {
  padding: .5em;
  display: block;
}

body {
  font-family: sans-serif;
  background: #262626;
  color: white;
  padding: 4em 0 0 0;
}

