// Utils
@import 'utils/variables';

// Layout
@import 'layout/header';

// Components
@import 'components/pagination';

body
{
	font-family: sans-serif;
	background: $primary;
	color: white;
	padding: 4em 0 0 0;
}
